---
import { cx } from 'class-variance-authority';
import { styles } from './styles.css';
---

<button
  type="button"
  aria-label="Go to top"
  class={cx(`${styles.button.base} hidden`)}
  id="top"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class={styles.button.svg}
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"></path>
  </svg>
</button>

<script>
  const btnTop = document.getElementById('top');

  if (btnTop) {
    btnTop.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        left: 0
      });
    });

    window.addEventListener('scroll', () => {
      if (window.scrollY > 300 && btnTop) {
        btnTop.classList.remove('hidden');
        btnTop.classList.add('fixed');
      } else {
        btnTop.classList.remove('fixed');
        btnTop.classList.add('hidden');
      }
    });
  }
</script>
