---
export const prerender = true;

import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

import { contentfulClient } from '../lib/contentful';
import Layout from '../layouts/Layout.astro';
import { NavigationLayoutEnum } from '../types/enum';
import type { TypeInformation__rich__textSkeleton } from '../lib/types';

const informationEntry =
  await contentfulClient.getEntries<TypeInformation__rich__textSkeleton>({
    content_type: 'information-rich-text'
  });

const informationContent = documentToHtmlString(
  informationEntry.items[0].fields.informationRichText
);

Astro.response.headers.set(
  'Cache-Control',
  'public, max-age=0, s-maxage=3600, stale-while-revalidate=5400'
);
---

<Layout
  layout={NavigationLayoutEnum.SECONDARY}
  title="Informations complémentaires"
>
  <div slot="main" class="content">
    <h1>Informations complémentaires</h1>
    <div set:html={informationContent} />
  </div>
</Layout>

<style lang="postcss" is:global>
  div.content {
    --content-body: #334155;
    --content-headings: #0f172a;
    --content-lead: #475569;
    --content-links: #0f172a;
    --content-bold: #0f172a;
    --content-counters: #64748b;
    --content-bullets: #cbd5e1;
    --content-hr: #e2e8f0;
    --content-quotes: #0f172a;
    --content-quote-borders: #e2e8f0;
    --content-captions: #64748b;
    --content-code: #0f172a;
    --content-pre-code: #e2e8f0;
    --content-pre-bg: #1e293b;
    --content-th-borders: #cbd5e1;
    --content-td-borders: #e2e8f0;

    @media (prefers-color-scheme: dark) {
      --content-body: #cbd5e1;
      --content-headings: #fff;
      --content-lead: #94a3b8;
      --content-links: #fff;
      --content-bold: #fff;
      --content-counters: #94a3b8;
      --content-bullets: #475569;
      --content-hr: #334155;
      --content-quotes: #f1f5f9;
      --content-quote-borders: #334155;
      --content-captions: #94a3b8;
      --content-code: #fff;
      --content-pre-code: #cbd5e1;
      --content-pre-bg: rgb(0 0 0 / 50%);
      --content-th-borders: #475569;
      --content-td-borders: #334155;
    }

    font-size: 1rem;
    line-height: 1.75;
    text-wrap: balance;
    
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & ul > li {
      > * {
        &:last-child {
          margin-bottom: 1.25em;
        }

        &:first-child {
          margin-top: 1.25em;
        }
      }

      & p {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
      }
    }

    & ol > li {
      > * {
        &:last-child {
          margin-bottom: 1.25em;
        }

        &:first-child {
          margin-top: 1.25em;
        }
      }
    }

    &[class~='lead'] {
      color: var(--content-lead);
      font-size: 1.25em;
      line-height: 1.6;
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }

    margin-top: 2rem;
    max-width: 65ch;

    color: var(--content-body);

    &strong {
      color: inherit;
    }

    & p {
      margin-top: 1.25em;
      margin-bottom: 1.25em;

      & a {
        color: var(--content-links);
        text-decoration: underline;
        font-weight: 500;
      }
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    & h6 {
      color: var(--content-headings);
    }

    & h1,
    h2,
    h3,
    h4,
    hr {
      + * {
        margin-top: 0;
      }
    }

    & h1 {
      font-weight: 700;
      font-size: 2.25em;
      margin-top: 0;
      margin-bottom: 0.8888889em;
      line-height: 1.1111111;

      & strong {
        font-weight: 900;
      }

      & code {
        color: inherit;
      }
    }

    & h2 {
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333;

      & strong {
        font-weight: 800;
      }

      & code {
        color: inherit;
        font-size: 0.875em;
      }
    }

    & h3 {
      font-weight: 600;
      font-size: 1.25em;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
      line-height: 1.6;

      & strong {
        font-weight: 700;
      }

      & code {
        color: inherit;
        font-size: 0.9em;
      }
    }

    & h4 {
      font-weight: 600;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      line-height: 1.5;

      & strong {
        font-weight: 600;
      }

      & code {
        color: inherit;
      }
    }

    & hr {
      border-color: var(--content-hr);
      border-top-width: 1px;
      margin-top: 3em;
      margin-bottom: 3em;
    }

    & ul {
      list-style-type: disc;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-left: 1.625em;

      & ul,
      ol {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
      }

      > li {
        padding-left: 0.375em;
        &::marker {
          font-weight: 400;
          color: var(--content-counters);
        }
      }
    }

    & ol {
      list-style-type: decimal;
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      padding-left: 1.625em;

      & ul,
      ol {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
      }

      > li {
        padding-left: 0.375em;

        &::marker {
          font-weight: 400;
          color: var(--content-counters);
        }
      }
    }

    & li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    & code {
      &::before,
      &::after {
        content: '`';
      }
    }

    & pre {
      color: var(--content-pre-code);
      background-color: var(--content-pre-bg);
      overflow-x: auto;
      font-weight: 400;
      font-size: 0.875em;
      line-height: 1.7142857;
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
      border-radius: 0.375rem;
      padding: 0.8571429em 1.1428571em;

      & code {
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-weight: inherit;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;

        &::before,
        &::after {
          content: none;
        }
      }
    }

    & blockquote {
      font-weight: 500;
      font-style: italic;
      color: var(--content-quotes);
      border-left-width: 0.25rem;
      border-left-color: var(--content-quote-borders);
      quotes: '\201c''\201d''\2018''\2019';
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-left: 1em;

      & strong {
        color: inherit;
      }

      & code {
        color: inherit;
      }

      & p {
        &:first-of-type:before {
          content: open-quote;
        }

        &:last-of-type:after {
          content: close-quote;
        }
      }
    }

    & figure {
      margin-top: 2em;
      margin-bottom: 2em;

      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & figcaption {
      color: var(--content-captions);
      font-size: 0.875em;
      line-height: 1.4285714;
      margin-top: 0.8571429em;
    }

    & img {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    & video {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    & table {
    }

    & tbody,
    tfoot {
      &td {
        padding: 0.5714286em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
    & tbody {
      & tr {
        border-top-width: 1px;
        border-top-color: var(--content-tr-borders);

        &:last-child {
          padding-left: 0;
        }

        &:first-child {
          padding-right: 0;
        }
      }

      & td {
        vertical-align: baseline;
      }
    }

    & thead {
      & th {
        border-bottom-width: 1px;
        border-bottom-color: var(--content-th-borders);
      }
    }

    & tfoot {
      border-top-width: 1px;
      border-top-color: var(--content-th-borders);

      & td {
        vertical-align: top;
      }
    }

    & td {
    }

    & tr {
    }
  }
</style>
