---
export const prerender = true;

import DisplayCard from '../components/elements/DisplayCard/DisplayCard.astro';
import Layout from '../layouts/Layout.astro';
import { getHomepageProfiles, getNavigationLinks } from '../lib/contentful';
import { NavigationLayoutEnum } from '../types/enum';

const navigationLinks = await getNavigationLinks();
const homepageProfiles = await getHomepageProfiles();

Astro.response.headers.set(
  'Cache-Control',
  'public, max-age=0, s-maxage=3600, stale-while-revalidate=5400'
);
---

<Layout
  layout={NavigationLayoutEnum.MAIN}
  navigationLinks={navigationLinks}
  title="Annuaire de keycaps françaises"
>
  <section class="section" slot="main">
    {homepageProfiles.map((profile) => <DisplayCard profile={profile} />)}
  </section>
</Layout>
