---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import {
  contentfulClient,
  KeycapArticleContentfulInterface,
  KeycapArticleType,
} from "../lib/contentful";

const entries =
  await contentfulClient.getEntries<KeycapArticleContentfulInterface>({
    content_type: "article",
  });

const articles: Array<KeycapArticleType> = entries.items.map((e) => {
  const { title, img, material, description, profile, startDate, endDate } =
    e.fields;

  return {
    title,
    img: img.fields.file.url,
    material,
    description,
    profile: profile.fields.title,
    startDate: startDate ? new Date(startDate).toLocaleDateString() : undefined,
    endDate: endDate ? new Date(endDate).toLocaleDateString() : undefined,
  };
});
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    {
      articles.map((a) => (
        <article>
          <Picture
            src={a.img}
            widths={[200, 400, 800]}
            aspectRatio="16:9"
            sizes="(max-width: 800px) 100vw, 800px"
            alt="descriptive text"
          />
          <span>{a.title}</span>
          <span>{a.profile}</span>
        </article>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
