---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import { getNavigationLinks } from '../lib/contentful';
import { NavigationLayoutEnum } from '../types/enum';

const navigationLinks = await getNavigationLinks();
---

<Layout
  layout={NavigationLayoutEnum.MAIN}
  navigationLinks={navigationLinks}
  title="Annuaire de keycaps françaises"
>
  <span slot="main">Home</span>
</Layout>
