---
import Layout from '../layouts/Layout.astro';
import { NavigationLayoutEnum } from '../types/enum';

import {
  contentfulClient,
  ProfileContentfulInterface
} from '../lib/contentful';

const navigationLinksEntries =
  await contentfulClient.getEntries<ProfileContentfulInterface>({
    content_type: 'keycaps-profile'
  });

const navigationLinks: Array<ProfileContentfulInterface> =
  navigationLinksEntries.items.map((n) => {
    const { title, slug, abbreviation } = n.fields;
    return { title, slug, abbreviation };
  });
---

<Layout
  layout={NavigationLayoutEnum.SECONDARY}
  navigationLinks={navigationLinks}
>
  <section slot="main">Lorem ipsum...</section>
</Layout>

<style>
  section {
    @apply mt-4;
  }
</style>
