<button type="button" aria-label="Go to top" class="hidden" id="top"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"></path>
  </svg>
</button>

<style lang="postcss">
  button,
  [type='button'] {
    @apply bottom-0 right-0 m-4 flex cursor-pointer items-center rounded-full bg-teal-500 p-3 font-semibold text-white shadow-md transition-colors hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2;

    svg {
      @apply h-6 w-6;
    }
  }
</style>

<script>
  const btnTop = document.getElementById('top');

  if (btnTop) {
    btnTop.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        left: 0
      });
    });

    window.addEventListener('scroll', () => {
      if (window.scrollY > 300 && btnTop) {
        btnTop.classList.remove('hidden');
        btnTop.classList.add('fixed');
      } else {
        btnTop.classList.remove('fixed');
        btnTop.classList.add('hidden');
      }
    });
  }
</script>
