---
import Navigation from '../components/core/Navigation.astro';
import type { ProfileContentfulInterface } from '../lib/contentful';

export interface Props {
  navigationLinks: Array<ProfileContentfulInterface>;
}

const { navigationLinks } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Azerty Keycaps by Plaketdebeur</title>
  </head>
  <body>
    <Navigation navigationLinks={navigationLinks} />
    <slot name="main" />
    <slot name="footer" />
  </body>
</html>
<style is:global>
  html {
    @apply h-full scroll-smooth bg-slate-50 font-sans;
  }

  body {
    @apply min-h-full;
  }
</style>
